body{
    text-align: center;
    font-family: Arial;
    margin-bottom: 200px;
    transition: all 1s;
}

nav  {
    width: 300px;
    height: 100vh;
    padding: 100px 20px;
    background-color: rgb(214, 214, 197);
    position: fixed;
    right: -380px;
    top: 0;
    transition: right 0.3s;
}

nav.show{
    right: 0px;
}

.navItem{
    margin-bottom: 20px;
}

.hamburger{
    position:fixed;
    top: 30px;
    right: 50px;
    z-index: 10;
    cursor: pointer;
}

.bun {
    height: 4px;
    width: 30px;
    border-radius: 2px;
    background-color: black;
    margin-bottom: 3px;
}

h1 {
    font: 50px;
}

img {
    width: 150px;
    height: 150px;
}

.things {
    margin: 20px auto;
    width: 50%;
    background-color: rgb(214, 214, 197);
    height: 200px;
    border-radius: 4px;
    color: black;
    display: flex;
    align-items: center;
    position: relative;
    top: 100px;
    transition: top 0.4s, opacity 0.4s;
    opacity: 0;
}

h1 {
    font-size: 50px;
}

img {
    width: 150px;
}

.song {
    margin: 20px auto;
    width: 50%;
    background-color: rgb(255, 230, 230);
    height: 200px;
    border-radius: 4px;
    color: black;
    display: flex;
    align-items: center;
    position: relative;
    top: 100px;
    transition: top 0.4s, opacity 0.4s;
    opacity: 0;
}

.songtext {
    text-align: center;
    margin-left: 50px;
    font-size: 20px;
}

.song.slide {
    top: 0;
    opacity: 1;
}

button {
    padding: 10px;
    margin: auto;
    background-color: rgb(48, 48, 48);
    border: 2px solid grey;
    color: white;
}

body.dark{
    background-color: rgb(37, 37, 37);
    color: white;
}

button.dark {
    background-color: white;
    border: 2px solid grey;
    color: rgb(48, 48, 48);
}

.song.dark {
    background-color: rgb(56, 56, 59);
    color: white;
}

nav.dark {
    background-color: rgb(56, 56, 59);
}